*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif
    }
    body{
        display: flex; 
        justify-content: center;
        align-content: center;
        min-height: 100vh;
        background-color: white;
        width: 100vw;
    }
    .container {
        position: relative;
        width: 1200px;
        /* display: grid;
        grid-template-columns: repeat(auto-fit,minimax(250px,1fr)); */
        display: flex;
        flex-wrap: wrap;
    }
    .container .card{
        width: 30%;
        /* background:gray; */
    }
    .container .card .imgBx{
        float: left;
        position: relative;
        display: inline;
        margin-top: 5px;
        align-items: center;
        margin-left:100px ;
        width: 100%;
        height: 310px;
    }
    /* .container.card.imgBx img{
        position: absolute;
        float: left;
        top:0;
        left:0%;
        width:100%;
        height: 100%;
        object-fit:none;
        display: inline;
        align-items: center;
        margin-left:100px ;
    }
    .container.card .content{
        padding: 10px;
    }
    .container.card.content.productname h3{
        font-size: 18px;
        font-weight: 500;
        color: #000;
        margin: 5px 0;
    }
    .container.card.content.price_Raiting{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container.container.card.content.price_Raiting h2{
        font-size: 20px;
        color: aqua;
        font-weight: 500;   
    }
    .container.card.content.container.card.content.price_Raiting.fa.grey{
        color: #000;
        cursor: pointer;
    }
    .container.card.content.price_Raiting.fa.grey{
        color: white;
    } */